
body {
  background-color: black;
}
h1 {
  color: darkcyan;
  text-align: left;
}
h2 {
  color: darkcyan;
  text-align: left;
}
h3 {
  color: darkcyan;
  text-align: left;
}
h4 {
  color: darkcyan;
  text-align: left;
}

p {
    color: white; 
  font-family: verdana;
  font-size: 20px;
}
p1 {
    color: white; 
  font-family: verdana;
  font-size: 20px;
}
p2 {
    color: white; 
  font-family: verdana;
  font-size: 20px;
}
p3 {
    color: white; 
  font-family: verdana;
  font-size: 20px;
}
body {
  background-color: black;
}
